body {
  background-color: red;
}

:root {
  --blue_color: #4e4ffa;

  --gray_color_0: #444a57;
  --gray_color_2: #818998;
  --gray_color_1: #444a57;
  --footer_background_color: #2a2d54;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

section {
  padding-inline: 10px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.flex {
  display: flex;
}

.icon {
  height: 40px;
}

.btn {
  padding: 20px 40px;
  background-color: var(--blue_color);
  color: white;
  border-radius: 5px;
  border: none;
}

a {
  color: white;
}

a:hover {
  color: var(--blue_color);
  transition: 0.5s;
}

/* ===============DESKTOP MENU */

header {
  background-color: pink;
}
.desktop-menu {
  justify-content: space-between;
  align-items: center;
}

.desktop-menu ul {
  display: flex;
  list-style: none;
}

.desktop-menu ul li {
  height: 50px;
  margin-left: 20px;
}

.desktop-menu ul li a {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-inline: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

/* =============MOBILE MENU============== */
.mobile-menu {
  justify-content: space-between;
}

.mobile-menu img {
  cursor: pointer;
}
.side-menu {
  width: 250px;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  right: 0;
  display: none;
}

.side-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  list-style: none;
}

.side-menu ul li {
  background-color: orange;
  width: 100%;
  padding: 20px;
  margin: 10px;
}

.side-menu ul li a {
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.side-menu ul li:hover {
  background-color: green;
}

@media screen and (min-width: 991px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .desktop-menu {
    display: none;
  }
}

/* =============HERO SECTION============ */
.hero-section {
  background: linear-gradient(45deg, white, purple);
  height: 100vh;
}

.hero-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 990px) {
  .hero-container {
    width: 100%;
  }
}

.hero-container h1 {
  text-transform: uppercase;
}

/* =========FORM SECTION========== */

.form-section {
  margin-top: -150px;
}
.form-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: white;
  padding: 40px 20px;
  border-radius: 1rem;
}

@media screen and (max-width: 990px) {
  .form-container-wrapper {
    flex-wrap: wrap;
    gap: 30px;
  }
}

.form-container-left {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media screen and (max-width: 500px) {
  .form-container-left {
    grid-template-columns: repeat(2, 1fr);
  }
}

.form-container-left .items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-container-left .items select {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
