body {
  background-color: red;
}
* {
  margin: 0;
  padding: 0;
}

section {
  padding-inline: 10px;
  background-color: green;
}

.container {
  max-width: 1200px;
  background-color: yellow;
  margin: auto;
  padding: 20px;
}

.flex {
  display: flex;
}

.icon {
  height: 40px;
}

/* ===============DESKTOP MENU */
.desktop-menu {
  justify-content: space-between;
  align-items: center;
}

.desktop-menu ul {
  display: flex;
  list-style: none;
}

.desktop-menu ul li {
  height: 50px;
  background-color: orange;
  margin-left: 20px;
}

.desktop-menu ul li a {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-inline: 10px;
}

.desktop-menu ul li a:hover {
  background-color: green;
}

/* =============MOBILE MENU============== */
.mobile-menu {
  justify-content: space-between;
}

.mobile-menu img {
  cursor: pointer;
}
.side-menu {
  width: 250px;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  right: 0;
}

.side-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  list-style: none;
}

.side-menu ul li {
  background-color: orange;
  width: 100%;
  padding: 20px;
  margin: 10px;
}

.side-menu ul li a {
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.side-menu ul li:hover {
  background-color: green;
}

@media screen and (min-width: 991px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .desktop-menu {
    display: none;
  }
}
